/node_modules
/public/hot
/public/storage
/public/uploads
/public/test_attachment
/public/assets/compro/assets/frontend_assets/images/*
/public/assets/compro/assets/frontend_assets/doc/*
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
